
h1{
	
	color: navy;
	text-align: center;
  	
}

ul
{
list-style-type: none;
padding: 5px;
margin: 5px;
}
li
{
padding: 5px;


}


#createConsultant { width: 450px; display:inline-block; }
#createCompany  { width: 450px; display:inline-block; height: 300px; }




.CREATE ul li span { 
        float: left;
        width: 150px;
        text-align:right;
        padding-right: 5px;
        white-space:nowrap;
}



